# Ignore zsh compiled cache files
*/**/*.zwc

.var

# Lazyvim plugins get updated automatically
.config/lazyvim/lazy-lock.json

# Allow the set of lazyvim plugins to vary between machines
.config/lazyvim/lazyvim.json

{{- if stat "/usr/bin/flatpak" }}
!.var # Only install .var files if the flatpak binary exists
{{- end }}
